
.scrollable-container{
    /* background-color: #031C32; */
    height:80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color:  #2A5962 !important;
  
}
.scroll-animation-container {
    position: relative;
    height: 40vh;
   
   
  }

  .commitsmenttext{
   
    width: 85%;
    margin:auto;
  }
  
  .zoom-text {
    position: absolute;

    left: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 2;
    background-image: url("../../assets/img/elements/blueigtext.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

.image-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-item {
    position: absolute;

    left: 0%;
 
    right: 0%;
    transform: translate(-50%, -50%);
  
    width: 100%;

    height: auto;
    
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
   
}

.image-item img {
    width: 500px;
    height: 400px;
}

.image-item.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.image-item.zoom {

    transform: translate(-50%, -50%) scale(var(--scale, 1.05)); 
}

.image-item.fade-out {
    opacity: 0; 
    transition: opacity 0.5s ease;
}

@media (max-width:768px) {

     /* .mobileviewcommitments {
        margin-top: 65px;
    }  */

    .scrollable-container{
        /* background-color: #031C32; */
        height:40vh;
      
        background-color:  #2A5962 !important;
      
    }
    .scroll-animation-container {
        position: relative;
        height: 15vh;
       
       
      }

     .image-item.zoom {

        transform: translate(-50%, -50%) scale(var(--scale, 1.05)); 
    } 
    .zoom-text {
        font-size: 50px;
        transform: scale(1.2); /* Adjusted scale for mobile */
      }
    
}