.css-1k8y6wp{
    background-color:#002C30!important;
}
.emailcallicon {
    width: 40px;
    height: 40px;
    color: aliceblue;
}

.serviceslinks a:hover {
    color: red !important;

}

.navlinks a p:hover {
    color: red;
   
    text-decoration: underline;

}

.navlinks a {
    color: #fff;
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition */

    border-bottom: 2px solid transparent ;

}
.navlinks a p {
    border-bottom: 2px solid transparent;
    font-size: 20px;
}

.navlinks .active-link {
    color: red!important;
    text-decoration: underline;
   

}
.emailcallbox {
    cursor: pointer;
}
.highmastlogo {
    cursor: pointer;
    width :120px;
}
/* Mobile-specific adjustment if needed */
