.pointername {
    color: #fff;


}

.pointerparent {
    padding: 20px 20px;
    border: 1px solid #6CBBC8;
    margin: 20px 0px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pointerimg {

    background-attachment: fixed;
    background-position: center;
    width: 80%;
    height: 400px;
    border-radius: 5px;



}

.pointershead {
    color: #468293;

}

@media (max-width:768px) {

    .pointerimg {

        background-attachment: fixed;
        background-position: center;
        width: 80%;
        height: 300px;
        border-radius: 5px;
    }

    .pointerparent {
        padding: 8px 8px;
    }

    .pointername {
        color: #fff;
        /* font-size: 12px; */


    }
    

}

@media (max-width: 768px) {
    /* Ensure no extra space is added on the sides */
    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  
    /* Adjust animation direction for mobile view */
    [data-aos="fade-left"] {
      transform: translateX(0); /* Make sure it's not off-screen */
    }
  
    [data-aos="fade-right"] {
      transform: translateX(0); /* Make sure it's not off-screen */
    }
}