.contact-section-container{
    background-color:#002C30;

   padding-block: 20px;
   padding-inline: 10px;
}
.callheading {
    font-size: 30px;
    font-weight: 600;
    color: #69B7C4;
    font-family: poppins;
    text-transform: uppercase;
    text-align: left;
}

.callsubheading {

    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

.contactusparent {
    margin-top: 2px;
    
}

.allbutton {

    border: 1px solid #69B7C4 !important;

    padding: 15px 20px 12px 20px;
    color: #69B7C4;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    font-family: poppins;
    background-color: transparent;
}

@media (max-width: 768px) {
  
    .callheading {
        font-size: 14px;
        text-align: left;
    }
    .buttonparnt {
        text-align: center;
    }
    .allbutton {

        font-size: 13px;
        margin-bottom: 10px;
    }
    .callsubheading {
        text-align: left;
        font-size: 11px;
    }

  }