.expertiseparallax-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative !important;
  will-change: transform;
  transition: background-position 0.3s ease-out;
}

.expertiseparallax-container .react-parallax-content {
  position: static !important;
}

.expertiseoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

.expertisecontent {
  position: relative;
  z-index: 2;
text-align: center;
  color: white;
  padding: 20px;
}


.expertisecontent h2 {
  font-size: 3rem;
  margin: 20px;
  font-family: poppins;
  font-weight: 600;
}

.expertisecontent p {
  margin: 20px;
  font-family: poppins;
  font-size: 20px;
}

.github-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.github-button:hover {
  background-color: #555;
}

.subheading {
  font-weight: 600;
  color: #fff;
  font-family: poppins;
  margin-bottom: 80px;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 1024px) {
  .expertiseparallax-container {
    height: 70vh;
  }

  .expertisecontent h2 {
    font-size: 2rem;
  }

  .expertisecontent p {
    font-size: 0.9rem;
  }

 
}

/* Media Query for Mobile Phones */
@media (max-width: 768px) {
  .expertiseparallax-container {
    height: 60vh;
  }

  .expertisecontent h2 {
    font-size: 1.8rem;
    margin: 10px;
  }

  .expertisecontent p {
    font-size: 13px;
    margin: 10px;
  }


}

/* Media Query for Small Mobile Screens */
@media (max-width: 480px) {
  .expertiseparallax-container {
    height: 30vh;
  }

  .expertisecontent h2 {
    font-size: 20px;
  }

  .expertisecontent p {
    font-size: 13px;
  }
}