.bannercontainer {
    padding-top: 160px;
    padding-bottom: 160px;
}


.secOne .row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.secOne .col {
    flex: 1 1 auto;
    margin-right: 4.2vw;
    width: calc(33.3% - 4.2vw);
    position: relative;
    padding-top: 3.4vh;
    padding-bottom: 3.3vh;
}

.number {
    font-weight: 600;
    font-size: 3.4vw;
    line-height: 1.1;
    margin: 0;
    text-align: center;

}

.number .symbol {
    position: relative !important;
    display: inline-block !important;
    background: red !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;

    opacity: 1 !important;
    visibility: inherit !important;
    transform: translate(0px, 0px) !important;
}

.number span {
    position: relative;
    display: inline-block;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
}

.secOne .row .col .number span {
    font-weight: 800;
    font-size: 3.6vw;
    line-height: 1.1;
    margin: 0;
}

.secOne .row .col .desc {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    font-family: poppins;
    text-align: center;
}

.top-line {
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.secOne {
    background-image: url(../../assets//img/banners/homebanerbg.gif);

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;


}


.secOne .section-title {
    margin-bottom: calc(4.2vw);

}

.secOne h1 {
    color: #fff;
    text-align: left;
    font-size: 7.15vw;
    line-height: 1;
    margin-top: 0.1em;
    margin-bottom: 0;
}

.contersection {
    transform: translate3d(0px, 0px, 0px) scale(3.8, 3.8);
    transform-origin: 0% 0%;
    transition: transform 0.2s ease-out;
}

.text-border {

    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;

}

.rstoftext {
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}


.greentext {
    background-image: url("../../assets/img/elements/leaf.jpeg");
    background-size: cover;
    /* Ensure the background covers the text */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    margin-top: 200px;
}

.contioceantext {
    background-image: url("../../assets/img/elements/conti.jpg");
    background-size: cover;
    /* Ensure the background covers the text */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;

    -webkit-font-smoothing: antialiased;
    /* margin-top: 200px; */
}

.highmasttextbg {

    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;


    -webkit-font-smoothing: antialiased;
    margin-top: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 240vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bannercontainer {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {

    .contersection {
        transform: scale(1) !important;

    }

    .text-border,
    .rstoftext {
        font-size: 7vw;
    }

    .secOne .row .col .desc {
        font-size: 12px;

    }

    .secOne .row .col .number span {
        font-size: 5.6vw;

    }

    .number {
        font-size: 4.5vw;
    }

    .secOne {
        background-size: 100% 100%;

        background-position: top center;

        background-attachment: scroll;

        height: 80vh !important;
    }

    .overlay {
        height: 80vh !important;

    }

    .zoom-text {
        font-size: 80px !important;
    }

    .scroll-animation-container {
        height: 20vh;
    }

    .bannercontainer {
        padding-top: 135px;
        padding-bottom: 45px;
    }

    .secOne .row .col {
        padding-left: 0px;
        padding-right: 0px;

    }
}