.termsconditions{
    background-color:#2A5962;;
}
.termsconditions h4 {
    font-size: 30px;
    color: #fff;
    font-family: poppins;
    font-weight: 600;
    margin:20px 0px ;
   
}
.Termsconditionslist li {
    color: red;

}
.termconditionbanner {
    background-image: url(../../assets//img/banners/term&conditionbannerimg.jpg);

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* Keeps the background in place while scrolling */

    /* Adjust the height as needed */
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;


}
@media (max-width:768px) {
    .termsconditions h4 {
        font-size: 20px;
    }
}