@media(min-width:768px){
  


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: gray !important; /* Dark background on hover */
}

.swiper-button-next,.swiper-button-prev{
  color: white!important;
}
/* Commitments container styling */
.commitments-container {
  background-color: #002C30;
  height: 100vh;
}

/* Subcontainer for commitments */
.commitments-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0;
  position: relative;
}

.commitments-subcontainer .swiper-slide-active{
  padding-inline: 30px;
 
}

/* Slides container styling */
.slides {
  height: 500px !important;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

/* Text content inside commitments subcontainer */
.commitments-subcontainer .text-content {

  height: 90%;
  padding-right: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
 width: 50%;
}

.text-content h2 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem;
}

/* Image content inside commitments subcontainer */
.commitments-subcontainer .image-content {
  width: 50%;
  height: 90%;
  border-radius: 8px;
  position: relative;
  overflow: hidden; /* Ensure the overlay doesn't go outside the container */
 
}

.commitments-subcontainer .image-content img{
  width: 100%;
  height: 100%;
}

}

@media (max-width:767px) {

  .swiper-button-next,.swiper-button-prev{
    color: white!important;
    margin: 0px!important;
  }

  .commitments-container {
    background-color: #002C30;
    height: 80vh;
  }
  /* Subcontainer for commitments */
.commitments-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0;
  position: relative;
}


  
.commitments-subcontainer .slides {
  height: 70vh!important;
  background-color: transparent;
  display: flex;
  flex-direction: column;
 justify-content: flex-end;
  align-items: center;

 
 
}

.commitments-subcontainer .text-content {

  height: 30%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
 
 
}

/* Image content inside commitments subcontainer */
.commitments-subcontainer .image-content {
  width: 100%;
  height: 70%;
  border-radius: 8px;
  position: relative;
  overflow: hidden; /* Ensure the overlay doesn't go outside the container */
  order: 2;
}

.commitments-subcontainer .text-content h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.commitments-subcontainer .text-content p {
  font-size: 16px;
  text-align: center;
}

.commitments-subcontainer .image-content img{
  width: 100%;
  height: 100%;
  
}

  
}