.privacysubtitle {
    font-family: poppins;
    color: #fff;
    font-size: 22px;
}

.privacybanner {
    background-image: url(../../assets//img/banners/privacybanner.jpg);

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* Keeps the background in place while scrolling */

    /* Adjust the height as needed */
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;


}