.majorborderbottom {
    border-bottom: 1px solid #6CBBC8;
}

.majorimgservice {
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.majortopbottom {

    border-top: 1px solid #6CBBC8;
    border-bottom: 1px solid #6CBBC8
}

.majorbottom {
    border-bottom: 1px solid #6CBBC8;
}

.majorright {
    border-right: 1px solid #6CBBC8;
}

.majorheading {
    font-size: 25px;
    color: #6CBBC8;
}

.majorgpara {

    color: #fff;
    font-size: 20px;

}

.majorheight {
    height: 100%;
    text-align: left;
    padding: 0px 3rem;
}

/* .majorscrollable-content {
    overflow-y: auto;
} */
/* .majorscrollable-content::-webkit-scrollbar {
    display: none; 
  } */
@media (max-width:768px) {
    .majorimgservice {
        width: 240px;
        height: 260px;
        border-radius: 5px;
        margin-bottom: 45px;
    }

    .majorsimgerviceparent {
        text-align: center;
        margin-top: 25px;
    }
    .majorheight {
        padding: 0px !important;
    }

    .majorgpara {

        color: #fff;
        font-size: 13px;
        text-align: justify;
    
    }
    
}