/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body {
  /* background-color: #121a27 !important; */
  /* background-color:#073865 !important; */
  background-color: #031C32 !important;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;

  /* Enable scrolling */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
}



p {
  font-family: poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: poppins;
  src: url(./assets/fonts/popins/Poppins-Regular.ttf);
}